.container-filter {
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    border-radius: 4px;
}
.container-filter input {
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
}
.selectFilter {
    outline: none;
    border: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 1rem;
    padding: 5px;
}
