

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  max-height: 80%;
  overflow-y: auto;
 background-image: linear-gradient(to bottom, #f0e2ff, #efefef, #f0e2ff);
 box-shadow: 0 0 10px #666;
}

.form__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.variantes {
    border: 1px solid #ccc;
    padding: 20px 5px;
    border-radius: 4px;
}
.nombre-grupo {
  display: flex;
  flex-direction: column;
}
.form__item__variantes {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__item label {
  border: none;
}

.form input {
  outline: none;
  padding: 3px;
  border: none;
  font-size: 1rem;
}

.opcion-container {
    display: flex;
    overflow: auto;
    gap: 5px;
}

.form button {
  border-radius: 4px;
  border: none;
  background-color: #6b6bad;
  padding: 5px;
  color: #eee;
}

.form button:hover {
  background-color: #5b5b8d;
}
.form__item button  {
  background-color: #ad8dbd;
}
.form__item button:hover {
  background-color: #8d6d9d;
}

.agregararchivo {
  overflow: hidden;
}
.form__buttons .btn-submit{
  background-color: #5395f0;
}
.form__buttons .btn-submit:hover{
  background-color: #5375c0;
}