.container-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   padding: 10px;
   width: 100%;
   overflow: hidden;
}

.container-table__mainButtons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.container-table__agregarcomida {
   border: none;
   border-radius: 4px;
   padding: 5px;
   background-color: #aaa;
   font-size: 1rem;
}
.container-table__agregarcomida:hover {
    background-color: #999;
}
.container-table__update-porcentage {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
}
.container-table__actualizarPrecio {
    display: flex;
    align-items: center;
    border-radius: 4px;
    height: fit-content;
}
.container-table__actualizarPrecio label {
    background-color: #aaa;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: .9rem;
    padding: 5px;
}
.container-table__actualizarPrecio input {
    width: 40px;
    border: none;
    outline: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: .9rem;
    padding: 5px;
}
.container-table__actualizarPrecio label:hover {
    cursor: pointer;
    background-color: #999;
}

.container-table__update-porcentage button {
    border: none;
    border-radius: 4px;
    padding: 5px;
    background-color: #aaa;
    font-size: .9rem;
}
.container-table__update-porcentage button:hover {
    background-color: #999;
}

