.container-modal-pay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: #ccc7;
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 10px;
    overflow: hidden;
    touch-action: none;
    z-index: 2000;
}

.container-pay {
    max-width: 350px;
    min-width: 280px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200000;
    position: relative;
    margin: 15px;
}

.container-pay span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50px;
    color: #999;
}

.container-pay p:hover {
    cursor: pointer;
}