.container-tablaUser {
    max-height: 500px;
    overflow-x: auto;
    /* solo scroll horizontal */
    overflow-y: auto;
    /* opcional: scroll vertical */
    min-width: 300px;
    max-width: fit-content;
    width: 100%;
}

.container-tablaUser__table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}